server:
  port: 8080

spring:
  datasource:
    url: jdbc:mysql://localhost:3307/logs_db?serverTimezone=UTC&useSSL=false&allowPublicKeyRetrieval=true&useSSL=true
    username: root
    password: root
    driver-class-name: com.mysql.cj.jdbc.Driver

  jpa:
    hibernate:
      # DDL-AUTO: update (自动更新表结构，生产环境慎用)
      # 建议：在开发阶段使用 update，当表结构稳定后改为 validate 或 none。
      ddl-auto: update
    show-sql: true
    properties:
      hibernate:
        dialect: org.hibernate.dialect.MySQLDialect

  kafka:
    bootstrap-servers: localhost:9092,localhost:9094,localhost:9096
    consumer:
      # 消费者组ID，用于跟踪消费进度
      group-id: test-message-group     # 键和值都使用 String 反序列化器，因为 web-logs topic 预期是字符串日志
      key-deserializer: org.apache.kafka.common.serialization.StringDeserializer
      value-deserializer: org.apache.kafka.common.serialization.StringDeserializer
      # 第一次启动时，从最早的可用偏移量开始消费
      auto-offset-reset: earliest
      enable-auto-commit: false # 关闭自动提交
      ack-mode: manual_immediate # 设置为手动立即提交
      # 开启自动提交
#      enable-auto-commit: true
    listener:
      ack-mode: manual_immediate # 监听器自动提交模式

